<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<header>
    <head>
        <%- include('../partials/head'); -%>
    </head>
    <%- include('../partials/header'); -%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/information">Trang chủ</a></li>
                    <li class="breadcrumb-item active"> <a href="/student">Sinh viên</a></li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
</header>

<body class="img" style="background-image: url(images/bck-login.png);">
    <main id="main">
        <div class="container-fluid">
            <h2 style="color: black;">Danh sách sinh viên</h2>
            <form action='/'>
                <div style="margin-top: 18px;" class="form-group d-flex flex-row">
                    <label for="searchInput" style="width: 200px; font-weight: bold;" class='align-self-center'>Nhập mã
                        sinh viên: </label>
                    <input class="form-control" id="searchInput" name='search' placeholder="Search number">
                    <button type="submit" class="btn btn-primary mx-2" style="margin: right 30px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            <table class="table" style="background-color: rgba(175, 193, 252,0.63);">
                <thead>
                    <tr>
                        <!-- Tên cột dữ liệu -->
                        <th>MSSV</th>
                        <th>Họ và Tên</th>
                        <th>Email</th>
                        <th>Số điên thoại</th>
                        <th>Mật khẩu</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(function(student) { %>
                        <!-- Một dòng dữ liệu -->
                        <tr>
                            <td>
                                <%= student.masv %>
                            </td>
                            <td>
                                <%= student.hovaten %>
                            </td>
                            <td>
                                <%= student.email %>
                            </td>
                            <td>
                                <%= student.sodienthoai %>
                            </td>
                            <td>
                                <%= student.password %>
                            </td>

                            <td>
                                <a type="button" class="btn btn-danger"
                                    href="/api/delete_student/?masv=<%= student.masv %>"><i class="fa fa-trash"></i></a>
                                <a type="button" class="btn btn-primary" href="/edit/?masv=<%= student.masv%>"><i
                                        class="fa fa-upload"></i></a>
                            </td>
                        </tr>
                        <!--  -->
                        <% }); %>
                </tbody>
            </table>
        </div>
    </main>
</body>
<footer>
    <%- include('../partials/footer'); -%>
</footer>
</html>